# Vagrant 
.vagrant
**/.vagrant
**/*.log

# Distribution / packaging
.Python

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SSH
*_rsa*
**/*_rsa*

# Ansible (kube worker join command) 
**/join.txt
**/config